body {
  margin: 0;
  font: 100% Helvetica, sans-serif;
  color: #333;
}

h1 {
  color: #ffffff;
  font-size: 32px;
  font: Playfair Display-Black, sans;
}

.wraper {
  width: 100%;
  min-height: 100vh;
  color: red;
}
