body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

h1 {
  color: #ffffff;
  font-size: 32px;
  font-family: "Playfair Display - Black";
}

.wraper {
  color: #ff2222;
}

.wraper2 {
  color: #ffffff;
}
