body {
  margin: 0;
}

.welcome-section {
  position: relative;
  z-index: 2;
}

.welcome-section::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
  background: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  z-index: 1;
  opacity: 0.7;
}

.main-logo {
  color: #00e0d0;
  font-family: Roboto-Thin sans-serif;
  font-size: 30px;
  margin-left: 10px;
}

.wraper {
  width: 100%;
  min-height: 100vh;
}

.main-nav-li {
  margin-left: 30px;
  color: #ffffff;
  font-family: Roboto-Black sans-serif;
}

.main-nav-li:hover {
  color: #00e0d0;
}

.font-no-black {
  font-family: Playfair Display-blod sans-serif;
}

.align-center {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.block {
  width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

.flexible-in-a-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  wrap-option: no wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.conteiner {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  font-family: Roboto sans sans-serif;
}

.conteiner .greeting {
  width: 770px;
  margin: 160px auto;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.conteiner .greeting .hello {
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-size: 32px;
}

.section-title {
  position: relative;
}

.section-title::after {
  position: absolute;
  content: '';
  bottom: 0;
  margin-left: -25px;
  width: 50px;
  height: 1px;
  background: #00e0d0;
}

.section-title-top::after {
  bottom: 45px;
  position: absolute;
  content: '';
  opacity: 0.2;
  margin-left: -25px;
  width: 50px;
  height: 1px;
  background: #000000;
}

.marg-center {
  margin: auto auto;
  text-align: center;
}

.bottom {
  margin-bottom: 70px;
}

.position-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.position-bottom img {
  margin: -50%;
}

.main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding-top: 15px;
}

.button {
  color: #00e0d0;
  border: 1px solid #00e0d0;
  text-transform: uppercase;
  margin: 30px auto;
  min-width: 120px;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  padding: 15px;
  font-family: Hammersmith One sans serif;
  font-size: 16px;
}

.button-reset {
  margin: 0;
}

.class1 {
  position: relative;
  margin: 0 auto;
  z-index: 2;
}

.fon-img {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 0;
}

.wrapp {
  min-height: 400px;
  width: 100%;
}

.our-story {
  width: 875px;
  margin: 70px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-story img {
  width: 235px;
  height: 230px;
  margin-right: 100px;
}

.style-h3 {
  color: #413d4b;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-bottom: 30px;
}

.style-p {
  opacity: 0.75;
  color: #413d4b;
  font-family: Roboto sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.42px;
  margin-bottom: 30px;
}

.style-h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.32px;
  font-family: Playfair Display serif;
}

.style-sentence {
  font-family: Roboto-Black sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.quote-style {
  opacity: 0.85;
  color: #ffffff;
  font-family: Playfair Display sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.4px;
  padding: 45px 0;
}

.quote-autor-style {
  color: #ffffff;
  font-family: Roboto-Black Serif sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.quote-autor-prof {
  opacity: 0.7;
  color: #ffffff;
  font-family: Roboto Serif sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  padding: 15px 0 45px 0;
}

.watch-story {
  width: 100%;
  max-height: 550px;
  background-image: url("../img-2/put-your-image-here.jpg");
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 2;
}

.watch-story::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
  background: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  z-index: 1;
  opacity: 0.7;
}

.section-expertise {
  padding: 70px;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-expertise ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.section-expertise ul li {
  width: 250px;
  min-height: 180px;
  padding: 30px;
}

.section-expertise ul li h4 {
  padding: 25px 0;
}

.border-r {
  border-right: solid 1px #000000;
}

.border-b {
  border-bottom: solid 1px #000000;
}

.sect {
  width: 500px;
  height: 500px;
  background: #456;
}

.style-sentence {
  margin-top: 35px;
}

.meet-our-bg {
  width: 100%;
  max-height: 570px;
  margin-bottom: 500px;
  -webkit-background-size: cover;
          background-size: cover;
}

.padding-t-b {
  padding: 70px 0;
}

.padding-b {
  padding-bottom: 70px;
}

.our-works-section {
  width: 100%;
  height: 100%;
  background-image: url(../img-2/put-your-image-here23.jpg);
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  color: #ffffff;
  z-index: 2;
}

.our-works-section::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
  background: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  z-index: 1;
  opacity: 0.7;
}

.align-center-heder {
  text-align: center;
}

.block-bord {
  border: solid 1px #ffffff;
  margin-top: -5px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 218px;
}

.text-white {
  color: #ffffff;
}

.our-works-conteiner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-works-story {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.our-works-story:nth-child(2n+1) {
  background-color: gray;
}

.our-works-story:nth-child(2n) {
  background-color: lightgray;
}

.our-works-story li {
  width: 16.5%;
  height: 200px;
}

.see-aii {
  position: relative;
}

.see-aii::after {
  content: '';
  right: 10px;
  background-image: url("../img-2/right154.png");
}

.meet-our-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-wid {
  margin: 10px;
  width: 220px;
}

.item-wid img {
  width: 100%;
}

.quote {
  height: 500px;
  text-align: center;
  background-image: url("../img-2/put-your-image-here-22.jpg");
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 2;
}

.quote::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
  background: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  z-index: 1;
  opacity: 0.7;
}

.quote-conteiner {
  width: 770px;
  height: 100%;
}

.disp-fl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.give-us {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 940px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0;
}

.text-area-inp {
  resize: none;
  padding-bottom: 150px;
  overflow: hidden;
}

.fl-fl-no-w {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.input-width {
  width: 100%;
  height: 45px;
  margin: 10px 0;
}

.list-form {
  max-width: 460px;
  height: auto;
}

.list-clients {
  width: 50%;
  margin-left: 100px;
}

.our-client {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin-left: -40px;
}

.our-client li {
  margin: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer {
  background-image: url("../img-2/put-your-image-here33.jpg");
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 2;
  color: #ffffff;
}

.main-footer::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
  background: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  z-index: 1;
  opacity: 0.7;
}

.section-footer-aling {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-footer-aling div {
  margin: 30px;
}

.our-st-map {
  position: relative;
}

.our-st-map::before {
  content: '';
  position: absolute;
  z-index: 4;
  left: -10px;
  background-image: url("../img-2/phone351.png");
}

.style-footer-p {
  font-family: Roboto sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
}

.surch-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.surch-us li {
  display: inline-block;
  width: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin: 5px;
  padding: 10px;
  border: solid 1px #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.surch-us li a {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-b {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
