.style-h3
  color: #413d4b
  font-family: 'Hammersmith One', sans-serif
  font-size: 22px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1.1px
  margin-bottom: 30px
.style-p
  opacity: 0.75
  color: #413d4b
  font-family: Roboto sans-serif
  font-size: 14px
  font-weight: 300
  line-height: 22px
  letter-spacing: 0.42px
  margin-bottom: 30px
.style-h2
  color: #ffffff
  font-size: 32px
  font-weight: 400
  letter-spacing: 0.32px
  font-family: Playfair Display serif
.style-sentence
  font-family: Roboto - Black sans-serif
  font-size: 16px
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 0.8px
  color: #ffffff