body
  margin: 0
@import "variables"
@import "welcome1-section"
@import "mixins"
@import "fonts"


.watch-story
  width: 100%
  max-height: 550px
  background-image: url("../img-2/put-your-image-here.jpg")
  position: relative
  z-index: 2
  &::before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: $my-gradient
    z-index: 1
    opacity: 0.7

.section-expertise
  padding: 70px
  text-align: center
  justify-content: center
  ul
    display: flex
    flex-wrap: wrap
    li
      width: 250px
      min-height: 180px
      padding: 30px
      h4
        padding: 25px 0
.border-r
  border-right: solid 1px #000000
.border-b
  border-bottom: solid 1px #000000
.sect
  width: 500px
  height: 500px
  background: #456

.style-sentence
  margin-top: 35px


.meet-our-bg

  width: 100%
  max-height: 570px
  margin-bottom: 500px
  //background: url("../img-2/put-your-image-here23.jpg")
  background-size: cover

.padding-t-b
  padding: 70px 0
.padding-b
  padding-bottom: 70px





.our-works-section
  width: 100%
  height: 100%
  background-image: url(../img-2/put-your-image-here23.jpg)
  position: relative
  color: $me-white
  z-index: 2
  &::before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: $my-gradient
    z-index: 1
    opacity: 0.7
    overflow: hidden

.align-center-heder
  text-align: center
.block-bord
  border: solid 1px $me-white
  margin-top: -5px
  padding-top: 20px
  padding-bottom: 30px
  width: 218px
.text-white
  color: $me-white


.our-works-conteiner
  display: flex
  justify-content: space-between
  align-items: center
.our-works-story

.see-aii
  position: relative
  &::after
    content: ''
    right: 10px
    background-image: url(../img-2/right154.png)

.meet-our-block
  display: flex
  justify-content: center

.item-wid
  margin: 10px
  width: 220px
  img
    width: 100%










.quote-conteiner
  width: 770px
  height: auto
  text-align: center
.quote-style
  opacity: 0.85
  color: #ffffff
  font-family: Playfair Display sans-serif
  font-size: 16px
  font-weight: 400
  line-height: 26px
  letter-spacing: 0.4px
  padding: 45px 0
.quote-autor-style
  color: #ffffff
  font-family: Roboto - Black Serif sans-serif
  font-size: 14px
  font-weight: 400
  line-height: 22px
  text-transform: uppercase
  letter-spacing: 0.7px
.quote-autor-prof
  opacity: 0.7
  color: #ffffff
  font-family: Roboto Serif sans-serif
  font-size: 13px
  font-weight: 300
  line-height: 22px
  text-transform: uppercase
  padding: 15px 0 45px 0


