body
  margin: 0
@import "variables"
@import "welcome1-section"
@import "mixins"
@import "fonts"


.watch-story
  width: 100%
  max-height: 550px
  background-image: url("../img-2/put-your-image-here.jpg")
  position: relative
  background-size: cover
  z-index: 2
  &::before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: $my-gradient
    z-index: 1
    opacity: 0.7

.section-expertise
  padding: 70px
  text-align: center
  justify-content: center
  ul
    display: flex
    flex-wrap: wrap
    li
      width: 250px
      min-height: 180px
      padding: 30px
      h4
        padding: 25px 0
.border-r
  border-right: solid 1px #000000
.border-b
  border-bottom: solid 1px #000000
.sect
  width: 500px
  height: 500px
  background: #456

.style-sentence
  margin-top: 35px


.meet-our-bg

  width: 100%
  max-height: 570px
  margin-bottom: 500px
  //background: url("../img-2/put-your-image-here23.jpg")
  background-size: cover

.padding-t-b
  padding: 70px 0
.padding-b
  padding-bottom: 70px





.our-works-section
  width: 100%
  height: 100%
  background-image: url(../img-2/put-your-image-here23.jpg)
  position: relative
  background-size: cover
  color: $me-white
  z-index: 2
  &::before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: $my-gradient
    z-index: 1
    opacity: 0.7

.align-center-heder
  text-align: center
.block-bord
  border: solid 1px $me-white
  margin-top: -5px
  padding-top: 20px
  padding-bottom: 30px
  width: 218px
.text-white
  color: $me-white


.our-works-conteiner
  display: flex
  justify-content: space-between
  align-items: center
.our-works-story
  display: flex
  flex-wrap: wrap
  width: 100%
  &:nth-child(2n+1)
    background-color: gray
  &:nth-child(2n)
    background-color: lightgray
  li
    width: 16.5%
    height: 200px

.see-aii
  position: relative
  &::after
    content: ''
    right: 10px
    background-image: url("../img-2/right154.png")

.meet-our-block
  display: flex
  justify-content: center

.item-wid
  margin: 10px
  width: 220px
  img
    width: 100%

.quote
  height: 500px
  text-align: center
  background-image: url("../img-2/put-your-image-here-22.jpg")
  position: relative
  background-size: cover
  z-index: 2
  &::before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: $my-gradient
    z-index: 1
    opacity: 0.7
  &-conteiner
    width: 770px
    height: 100%

.disp-fl
  display: flex

  align-items: center
  align-content: center
.give-us
  justify-content: space-between
  width: 940px
  align-items: flex-start
  margin-top: 0

.text-area-inp
  resize: none
  padding-bottom: 150px
  overflow: hidden


.fl-fl-no-w
  flex-wrap: nowrap
.input-width
    width: 100%
    height: 45px
    margin: 10px 0

.list-form
  max-width: 460px
  height: auto
.list-clients
  width: 50%
  margin-left: 100px


.our-client
  justify-content: space-around
  display: flex
  flex-wrap: wrap
  align-items: center
  align-content: center
  margin-left: -40px

  li
    margin: 25px
    justify-content: center
    align-items: center

.main-footer
  background-image: url("../img-2/put-your-image-here33.jpg")
  position: relative
  background-size: cover
  z-index: 2
  color: $me-white
  &::before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: $my-gradient
    z-index: 1
    opacity: 0.7

.section-footer-aling
  display: flex
  justify-content: space-between
  div
    margin: 30px

.our-st-map
  position: relative
  &::before
    content: ''
    position: absolute
    z-index: 4
    left: -10px
    background-image: url("../img-2/phone351.png")

.style-footer-p
  font-family: Roboto sans-serif
  font-size: 14px
  font-weight: 300
  line-height: 26px
  letter-spacing: 0.35px
.surch-us
  display: flex
  li
    display: inline-block
    width: 15px
    justify-content: flex-start
    align-items: center
    align-content: center
    margin: 5px
    padding: 10px
    border: solid 1px $me-white
    border-radius: 50%
    a

      align-items: center
      justify-content: center

.jc-b
  justify-content: space-between






















